Source: fnsynchro
Section: utils
Priority: extra
Maintainer: Ramez Hanna <ramez.hanna@nokia.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: fnsynchro
Architecture: any
Depends: ${python:Depends}, python-configobj, python-pdbv2-utils  
Description: Synchronizes files between two servers, based on a pattern defined in the config files.
 it was developed with mameo->fmo in mind but should be generic enough to work with any other topology.

